@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

h1 {text-align:center;
	color:#000000;
	font-family:'Sen', sans-serif;
	font-size: 5em}
p.alternativo {color: #182621;
text-align: justify;
text-align: center;
font-family: 'Montserrat', sans-serif;
font-size: 1em}
h2 {text-align:center;
	color:#737373;
	font-family:'Sen', sans-serif;
	font-size: 4em}
ol {text-align:center;
	color: #182621;
	font-family:'Montserrat', sans-serif;
	font-size: 1em}
a {text-align:center;
	color:#F2541B;
	font-family:'Sen', sans-serif;
	font-size: 1em}
.imagenalcentro{display: block;
margin-left:auto;
margin-right: auto;
width: 20%;}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#0B438F;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
</style>
</head>
<body>

<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>
